<div class="container">
    <header>
        <h1>Welcome to the Home Page</h1>
    </header>
    <div class="auth">
        <p>You are logged in. <a href="/logout">Logout</a></p>
    </div>
    <div class="guest">
        <p>Please <a href="/login">login</a> or <a href="/signup">sign up</a>.</p>
    </div>
    {{#each blogPosts}}
        <div class="blog-post">
            <h2>{{title}}</h2>
            <p>{{content}}</p>
            <p class="meta">By {{author}} on {{createdAt}}</p>
        </div>
    {{/each}}
    <form>
        <label for="exampleInput">Example Input</label>
        <input type="text" id="exampleInput" name="exampleInput">
        <button type="submit">Submit</button>
    </form>
</div>
